.comingsoon {
    height: 100vh;
    background-size: cover;
}


.layer h2 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: Qaranta;
    font-weight: 900;
    color: rgb(164, 214, 094);
    transition: 0.5s;

}

.layer {
    animation: animate 3s linear infinite ;

}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(180deg);
    }
}

@media only screen and (max-width:667px) {

    .comingsoon,
    .layer {
        width: 100%;
    }

    .layer {
        text-align: center;

    }

    .layer h2 {
        margin-top: 30%;
        font-size: medium;
        font-weight: 700;
        text-align: center;
    }

    .comingsoon {
        background-size: 100%;
        background-repeat: no-repeat;
    }
}